<template>
  <div class="hello">
    <h1>{{ msg }}</h1>

    <form>
      <div class="row">
        <input type="file" id="file" accept=".txt" ref="file" v-on:change="handleFileUpload()"/>
      </div>
      <div class="row">
        <div class="col">
          <select class="form-control" @change="changeFromLanguage($event)">
            <option value selected disabled>From</option>
            <option
              v-for="language in availableLanguages"
              :value="language.id"
              :key="language.id"
              :disabled="selectedToLanguage===language"
            >{{ language.name }}</option>
          </select>
          <textarea class="form-control" rows="5" v-model="text"></textarea>
        </div>
        <div class="col">
          <select class="form-control" @change="changeToLanguage($event)">
            <option value selected disabled>To</option>
            <option
              v-for="language in availableLanguages"
              :value="language.id"
              :key="language.id"
              :disabled="selectedFromLanguage===language"
            >{{ language.name }}</option>
          </select>
          <textarea disabled class="form-control" rows="5" v-model="translation"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <br />
          <button type="button" class="btn btn-primary" @click="translate">Translate!</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import TranslationService from "../services/TranslationService";

export default {
  name: "TranslationTool",
  created() {
    this.translationService = new TranslationService();
  },
  data() {
    return {
      text: "",
      translation: "",
      availableLanguages: [
        { name: "Dutch", value: "NL", id: 1 },
        { name: "French", value: "FR", id: 2 },
        { name: "English", value: "EN", id: 3 }
      ],
      selectedFromLanguage: "",
      selectedToLanguage: "",
      file: ""
    };
  },
  props: {
    msg: String
  },
  methods: {
    async translate() {
      try {
        if (this.text === "") {
          this.$notify({
              group: "foo",
              title: "Translating failed.",
              text: "You need to input text in the area first.",
              type: "error"
            })
        } else if (this.selectedFromLanguage === "") {
         this.$notify({
              group: "foo",
              title: "Translating failed.",
              text: "You need to select a language to translate from.",
              type: "error"
            })
        } else if (this.selectedToLanguage === "") {
         this.$notify({
              group: "foo",
              title: "Translating failed.",
              text: "You need to select a language to translate to.",
              type: "error"
            })
        } else {
          this.translation = await this.translationService.translate(
              this.text,
              this.selectedFromLanguage.value,
              this.selectedToLanguage.value
            )
        }
      } catch (error) {
        this.$notify({
          group: "foo",
          title: "Translating failed.",
          text: "Something went wrong",
          type: "error"
        });
      }
    },
    changeFromLanguage(event) {
      this.selectedFromLanguage = this.findLanguage(event);
    },
    changeToLanguage(event) {
      this.selectedToLanguage = this.findLanguage(event);
    },
    findLanguage() {
      return this.availableLanguages.find(
        lang =>
          lang.name ===
          event.target.options[event.target.options.selectedIndex].text
      );
    },
    handleFileUpload() {
      this.file = this.$refs.file.files[0]
      const reader = new FileReader();
      reader.readAsText(this.file)
      reader.onload = e => this.text = e.target.result;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
form {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

textarea {
  margin-top: 15px;
}

button {
  width: 100%;
  height: 3rem;
}
</style>
