<template>
  <div id="app">
    <TranslationTool msg="Translation tool." />
    <notifications group="foo" />
  </div>
</template>

<script>
import TranslationTool from "./components/TranslationTool.vue";

export default {
  name: "App",
  components: {
    TranslationTool
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>